body {
    text-align: center;
    background-color: lightgrey;
    #header {
        background-color: black;
    }
    #intro-text {
        width: 70%;
        margin: 0 auto;
        padding: 20px;
    }
    #cocktail-list {
        width: 70%;
        margin: 0 auto;
    }
}

h1 {
    color: white; 
    border-bottom: 1px solid; 
    padding: 5px; 
    font-family: copperplate;
}

main {
    width: 70%;
    margin: 0 auto;
    .liquor {
        margin: 10px;
        font-weight: bold;
        width: 170px;
        font-family: cursive;
    }
    .hidden {
        display: none;
    }
}

.button-img {
    opacity: 0.5;
    width: auto;
    height: 100px;
    padding: 10px;
}

.card {
    margin: 20px;
    border: 2px solid;
    text-align: center;
    box-shadow: 0 0 4px;
    h5 {
        font-size: 30px;
        font-family: "comic sans ms";
        font-weight: bold
    }
    img {
        border-bottom: 2px solid;
    }
}

.cocktail-details {
    display: block;
    margin: 0 auto;
    width: 50%;
    left: 25%;
    padding: 1.3rem;
    position: fixed;
    top: 20%;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
    z-index: 2;
    h2 {
        font-weight: bold;
        font-family: "comic sans ms";
    }
    #btn-close {
        position: relative;
        margin-left: auto;
        margin-right: 0;
        font-size: 23px;
        float: right;    // Puts the close button on right side of the modal, next to cocktail name
    }
    #btn-close:hover{
        font-weight: bold;
        border-radius: 60px;
        box-shadow: 0 0 2px #888;
        padding: 1px;
    }
    #detail-content {
        text-align: left;  
    }
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
}

.scroll-stop {
    overflow: hidden;   // Prevent scrolling while cocktail details modal is open
}

.btn:hover {
    background-color: #205081 !important;
}